<!-- /snippets/blog-author.liquid -->

{% if article.user.bio != '' %}
  <hr>
  <div class="row blog-author">
    <div class="column author-image">
      <img src="//www.gravatar.com/avatar/{{ article.user.email | remove: ' ' | strip_newlines | downcase | md5 }}?s=400&d=mm"/>
    </div>
    <div class="author-meta">
      <h4>{{ 'blog.author.about_with_name' | t: first_name: article.user.first_name  }}</h4>
      <div class="rte">
        <p>{{ article.user.bio }}</p>
      </div>
      <a href="{{ article.user.homepage }}">{{ article.user.homepage }}</a>
    </div>
  </div>
{% endif %}
