<div class="product-view">
  <div class="container l" id="product-container" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'master' }}">

    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign on_sale = false %}
    {% if product.compare_at_price > product.price %}{% assign on_sale = true %}{% endif %}
    {% assign sold_out = true %}
    {% if product.available %}{% assign sold_out = false %}{% endif %}

    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

    {% assign textColor = '#000' %}

    {% for tag in product.tags %}
        {% if tag contains 'color-' %}
        {% capture colorTag %}{{ tag | remove: 'color-' }}{% endcapture %}
        {% endif %}
        {% if tag contains 'white' or tag contains 'yellow' %}
        {% assign textColor = 'inherit' %}
        {% endif %}
    {% endfor %}

    <div class="product-circle">
      <div class="product-image">
          <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductMainImage">

          {% if product.images.size > 1 %}
            <ul class="inline" id="ProductThumbnailImages">
              {% for image in product.images %}
                <li>
                  <a href="{{ image.src | img_url: 'master' }}" class="thumbnail">
                    <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
      </div>
      <div class="product-size badge-container hide-options tag-color tag-border-color">
        <button class="badge size-badge tag-background-color tag-border-color">Size</button>
        <div class="option-mask">
          {% for variant in product.variants %}
            {% if variant.available %}
              <button
                class="{% if variant == product.selected_or_first_available_variant %}selected{% endif %} alternate"
                data-title="{{ variant.title }}"
                data-sku="{{ variant.sku }}"
                data-id="{{ variant.id }}">{{ variant.title | truncate: 1, "" }}</button>
            {% else %}
              <button
                class="soldout disabled"
                data-title="{{ variant.title }}"
                data-sku="{{ variant.sku }}"
                data-id="{{ variant.id }}">{{ variant.title | truncate: 1, "" }}
                <span class="tooltip">
                  {{ 'product.sold_out' | t }}
                </span>
              </button>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="product-more badge-container">
        <div class="badge more-badge tag-background-color tag-border-color"><i class="fa fa-2x fa-plus"></i></div>
      </div>
      <div class="product-price badge-container">
        <div class="badge price-badge tag-border-color tag-color">
          <i class="fa fa-2x fa-{{ shop.currency | downcase }}"><span>3</span></i>
        </div>
      </div>
    </div>

    <div id="product-form-container" data-init-handle="{{product.handle}}">
      <div class="product-form">
          <!-- <div class="product-nav">
            <div class="product-select">
              <ul>
                <li>
                  <a href="#" class="fp-prev"><i class="fa fa-angle-left fa-2x"></i></a>
                </li>
                <li class="center-icon">
                  <a href="#" class="current-product popup-link" data-popup="#PopupProducts" aria-controls="Cart" aria-expanded="false">
                    <span class="viewall">VIEW ALL</span>
                    <div class="icon-ss {{ product.handle }}"></div>
                  </a>
                </li>
                <li>
                  <a href="#" class="fp-next"><i class="fa fa-angle-right fa-2x"></i></a>
                </li>
              </ul>
              <div class="divider"></div>
            </div>
            <div class="product-title hide-title">
              <div class="image-thumbnail-link">
                <a href="#"><i class="fa fa-plus-circle"></i>{{ 'product.view_more_images' | t }}</a>
              </div>
              <div class="title-mask">
                <h1 itemprop="name" style="color: #{{colorTag}};">{{ product.title }}</h1>
              </div>
            </div>
          </div> -->
          <div class="product-title hide-title">
            <div class="title-mask">
              <h1 itemprop="name" class="tag-color">{{ product.title }}</h1>
            </div>
          </div>
          <div class="product-amount row">
            <div class="column s12 m10 l8 centered">
              <div class="top-label">
                <span id="price">...</span>
                <i class="fa fa-{{ shop.currency | downcase }}"></i>
              </div>
              <div class="product-action row">
                <div class="product-bulk">
                  <div class="range">
                    <input type="range" min="100" max="1000" step="100" value="100">
                    <span id="bar" class="tag-background-color"></span>
                  </div>
                </div>
                <button id="submitButton">{{ 'product.add_to_cart' | t }}</button>
              </div>
              <div class="bottom-label">
                <div id="label-text" class="tag-color">
                  <span id="grams">100g</span>
                  soit
                  <span id="count">...</span>
                  chaussettes
                </div>
              </div>
            </div>
          </div>
      </div>
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-cart-submit>

          <select name="id" id="productSelect" class="product-single__variants">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option
                  {% if variant == product.selected_or_first_available_variant %}
                  selected="selected"
                  {% endif %}
                  data-sku="{{ variant.sku }}"
                  value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          <span class="hidden">{{ 'product.regular_price' | t }}</span>

          <span id="ProductPrice" class="h2 clearfix" itemprop="price" content="{{ current_variant.price | money }}">
            {{ current_variant.price }}
          </span>

          {% if on_sale %}
            <p id="OnSale">
              <span class="hidden">{{ 'product.original_price' | t }}</span>
              <span>{{ 'product.original_price' | t }}</span>
              <s id="ComparePrice">{{ product.compare_at_price | money }}</s>
            </p>
          {% endif %}

          <label for="Quantity" class="clearfix">{{ 'product.quantity' | t }}</label>
          <input type="hidden" id="Quantity" name="quantity" value="1" min="1" data-cart-quantity="1">

          <button type="submit" name="add" id="AddToCart" data-cart-add="{{ product.id }}" data-cart-quantity>
            <span id="AddToCartText">{{ 'product.add_to_cart' | t }}</span>
          </button>

        </form>

      </div>
      
      <style media="screen">
        .tag-color { color: #{{colorTag}} !important; }
        .tag-background-color { background-color: #{{colorTag}} !important; color: #fff !important; }
        .tag-border-color { border-color: #{{colorTag}} !important; }
      </style>

    </div>
  </div>
</div>
