<!-- /snippets/theme-nav-toggled.liquid -->

<nav class="theme-nav-toggled from-left" id="NavToggled" role="navigation">
  <div class="inner">

      {% include 'theme-nav-main' %}
      <hr>
      {% include 'theme-nav-secondary' %}
      <hr>
      {% include 'theme-nav-footer' %}
      <hr>
      {% if shop.customer_accounts_enabled %}
      <ul>
          <a class="account-icon" href="/account" data-popup="#PopupAccount" class="popup-link">
          {% if customer %}
            <li>{{ 'account.title' | t }}</li>
          {% else %}
            <li>{{ 'account.title' | t }}</li>
          {% endif %}
          </a>
      </ul>
      <hr>
      {% endif %}
      <ul>
        <li class="text-center">
          <a href="/cart" id="CartLink" data-popup="#PopupCart" class="popup-link" aria-controls="Cart" aria-expanded="false" rv-cloak data-cart-view>
            {{ 'cart.title' | t }}: { cart.item_count } (<span id="CartTotal">{cart.total_price | money_with_currency}</span>)
          </a>
        </li>
      </ul>

    <a href="#close" class="nav-toggled-close" aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }}</a>
  </div>
</nav>

<script>
  // Toggled nav visibility. This will be merged with main JS visibility functions
  $('.nav-toggled-link').on('click', function(event) {
    event.preventDefault();
    $('#NavToggled').addClass('visible');
  });
  $('.nav-toggled-close').on('click', function(event) {
    event.preventDefault();
    $('#NavToggled').removeClass('visible');
  });
</script>
