<!-- /snippets/theme-header.liquid -->

<header class="theme-header" role="banner">

      <div class="menu-links">
        <div class="s-hide m-hide">
          {% include 'theme-nav-main' %}
        </div>
        <div class="l-hide">
          <a href="/" data-nav="#NavToggled" class="nav-toggled-link ">{{ 'common.menu' | t }}</a>
        </div>
      </div>

      <div class="secondary-links">
        <div class="s-hide m-hide">
          {% include 'theme-nav-secondary' %}
        </div>
        <div class="account-links">
        {% if shop.customer_accounts_enabled %}
          <a class="account-icon" href="/account" data-popup="#PopupAccount" class="popup-link">
          {% if customer %}
            <i class="fa fa-user-circle"><span>{{ 'account.title' | t }}</span></i>
          {% else %}
            <i class="fa fa-user-circle"><span>{{ 'account.title' | t }}</span></i>
          {% endif %}
          </a>
        {% endif %}

          <a href="/cart" id="CartLink" data-popup="#PopupCart" class="popup-link" aria-controls="Cart" aria-expanded="false" rv-cloak data-cart-view>
            <span rv-text="cart.title"></span>
            <i class="fa fa-shopping-cart"></i>
            <!-- { cart.item_count } (<span id="CartTotal">{cart.total_price | money_with_currency}</span>) -->
          </a>
        </div>
      </div>

      <div class="h1 logo" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      {% if settings.logo_use_image %}
        <a href="/" itemprop="url">
          <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
        </a>
      {% else %}
        <a href="/" itemprop="url">{{ shop.name }}</a>
      {% endif %}
      </div>

  <div class="border">
    <div class="left"></div>
    <div class="right"></div>
    <div class="bottom"></div>
    <div class="top"></div>
  </div>
</header>
