{% layout 'multiscroll' %}
{% assign content = page.content | split: '<!-- section -->'%}

<div class="ms-left">
{% for slide in content %}
  <div class="ms-section section section{{forloop.index}}">
    <div class="slide">
      <div class="bg-image image-{{forloop.index}}"></div>
    </div>
  </div>
{% endfor %}
</div>

<div class="ms-right">
{% for slide in content %}
  <div class="ms-section section section{{forloop.index}}">
    <div class="slide center">
      <div class="slide-inner">
         {{ slide }}
         <div class="nextArrow">
           {% if forloop.last == true %}
            <a href="#" class="topSection"><i class="fa fa-angle-up fa-3x"></i></a>
           {% else %}
            <a href="#" class="nextSection"><i class="fa fa-angle-down fa-3x"></i></a>
           {% endif %}
         </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<div class="preload-images" style="display: none;">
  <img src="{{ 'img-concept1.jpg' | asset_url }}" alt="">
  <img src="{{ 'img-concept2.jpg' | asset_url }}" alt="">
  <img src="{{ 'img-concept3.jpg' | asset_url }}" alt="">
  <img src="{{ 'img-concept4.jpg' | asset_url }}" alt="">
  <img src="{{ 'FF_Capture_1.jpg' | asset_url }}" alt="">
  <img src="{{ 'FF_Capture_2.jpg' | asset_url }}" alt="">
  <img src="{{ 'FF_Capture_3.jpg' | asset_url }}" alt="">
</div>
