{% form 'contact' %}
  <div id="fullpage">

    {% if form.posted_successfully? %}
      <div class="section section0">
        <div class="slide center">
          <div class="slide-inner">
            <h1>{{ 'form.contact.success' | t }}</h1>
          </div>
        </div>
      </div>
    {% endif %}

    {% if form.errors %}
    <div class="section section0">
      <div class="slide center">
        <div class="slide-inner">
          <h1>{{ form.errors | default_errors }}</h1>
      </div>
    </div>
    {% endif %}

    {% unless form.posted_successfully? %}
    {% assign name_attr = 'form.name' | t | handle %}
    <div class="section section1">
      <div class="slide center">
        <div class="slide-inner">
          <label for="">{{ 'form.contact.name_label' | t }}</label>
          <input type="text" name="contact[{{ name_attr }}]" value="" required >
          <a class="button nextField" name="button">{{ 'form.continue' | t }}</a>
        </div>
      </div>
    </div>
    <div class="section section2">
      <div class="slide center">
        <div class="slide-inner">
          <label for="">{{ 'form.contact.email_label' | t }}</label>
          <input type="email" name="contact[email]" value="" required >
          <a class="button nextField" name="button">{{ 'form.continue' | t }}</a>
        </div>
      </div>
    </div>
    <div class="section section3">
      <div class="slide center">
        <div class="slide-inner">
          <label for="">{{ 'form.contact.message_label' | t }}</label>
          <textarea name="contact[body]" required ></textarea>
          <input class="button" type="submit" value="{{ 'form.send' | t }}"/>
        </div>
      </div>
    </div>
  </div>
  {% endunless %}
</form>
{% endform %}
