{% layout 'fullpage' %}
{% assign content = page.content | split: '<!-- section -->'%}

{% for slide in content %}

<div class="section section{{forloop.index}}">
  <div class="slide center">
    <div class="slide-inner">
      {% if slide contains '<!-- left-right -->' %}
       <div class="fixed-bg-image image-{{forloop.index}}"></div>
        {% assign splitContent = slide | split: '<!-- left-right -->' %}

         <div class="splitContent">
           <div class="leftSide">
             <div class="leftContent">{{ splitContent[0] }}</div>
           </div>
           <div class="rightSide">
             <div class="rightContent">
               <div class="rightBody">
                 {{ splitContent[1] }}
               </div>
               <div class="down-arrow">
                 <span>Scroll</span>
               </div>
             </div>
           </div>
         </div>

      {% else %}

        <div class="fullContent">
          {{ slide }}
        </div>

      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
